body {

    font-family: Arial, sans-serif;

    background: #fff0f5;

    margin: 0;

    padding: 20px;

}


h1 {

    text-align: center;

    color: #d63384;

}


h2 {

    color: #d63384;

    margin-top: 40px;

}


#couple-name {

    text-align: center;

    font-size: 32px;

    font-weight: bold;

    color: #ff69b4;

}


#together-since {

    text-align: center;

    color: #777;

    margin-bottom: 30px;

}


.card {

    background: white;

    border-radius: 20px;

    padding: 20px;

    margin: 15px auto;

    max-width: 500px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.1);

}


.card h3 {

    color: #ff4d88;

}


.card p {

    color: #555;

    line-height: 1.6;

}


section {

    max-width: 600px;

    margin: auto;

}

.memory-image {

    width: 100%;

    border-radius: 15px;

    margin-bottom: 15px;

}
